
@mixin font($font_name, $file_name, $weight, $style)

	@font-face
		font-family: $font_name
		font-display: swap
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
		font-weight: #{$weight}
		font-style: #{$style}

@import _fonts
@import _vars
@import _nullstyle

body._lock
	overflow: hidden

.wrapper
	max-width: $maxSiteWidth
	width: 100%
	min-height: 100%
	display: flex
	flex-direction: column
	margin: 0 auto

.main
	flex: 1 1 auto

.container
	max-width: $maxContainerWidth
	width: 100%
	padding: $maxSitePadding
	margin: 0 auto
	@media (max-width: 1024px)
		max-width: $midContainerWidth
		padding: $midSitePadding

@import _header

.title
	font-size: 32px
	line-height: 120%
	margin: 15px 0
	@media (max-width: 1024px)
		font-size: 22px

.section
	width: 100%
	padding: 25px 0

.main
	&__slider
		width: $maxContainerWidth
		height: 400px
	&__slider-img
		width: 100%

@import _footer
